.header {
    background-color: rgb(7, 14, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 390px;
    background-color: rgb(7, 14, 54);
    z-index: 99;
}

.headerLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.headerLeft Link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRight {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
    height: 100%;
    background-color: rgba(7, 14, 54, 1);
}