.outerCreateButton {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
  background: linear-gradient(to right, #00c6ff, #eb0ef2) !important;
  padding: 1px;
  border-radius: 10px !important;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100px);
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.hide {
  transform: translateY(100px);
  opacity: 0;
}

.innerCreateButton {
  background-color: rgba(7, 14, 54, 1) !important;
  border: none !important;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;

  p {
    color: white;
  }
}