.reviewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 130px 0 0 0;
  padding: 20px;
}

.reviewCard {
  width: 100%;
  height: 220px !important;
  background-color: rgba( 255, 255, 255, 0.1) !important;
  padding: 15px;
  color: white;
}

.reviewHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewHeaderLeft {
  width: 15%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.avatar {
  margin-right: 5%;
}

.reviewHeaderCenter {
  width: 75%;
}

.userName {
  font-size: 18px;
  color: white;
}

.likeCount {
  font-size: 10px;
}

.reviewHeaderRight {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviewTitle {
  font-weight: bold;
  color: #00c6ff;
}

.reviewContent {
  font-size: 14px;
  margin-top: 5px;
}

.photoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.reviewPhoto {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.smile {
  color: white;
}