.profileContainer {
  padding: 20px;
  background-color: rgba(7, 14, 54, 1);
  color: white;
  margin-top: 130px;
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.infoItem {
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 15px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
  }
}

.icon {
  margin-right: 15px;
  color: #00c6ff;
}

.updateShop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.updateButton {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 0;
}