.modalBase {
  padding: 20px 0;
}

.modalBodyContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
}

.modalTitle {
  text-align: center;
}

.modalFooterContent {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.modalButton {
  min-width: 120px;
}

.modalCloseButton {
  color: white;
}